.SettingButtons {
    text-align: center;
}

.ColorChangebtn {
    background-color: white;
    border-color: white;
    text-align: center;
    font-weight: bold;

}

.Timebtn {
    border-color: white;
    background-color: white;
    color: black;
    font-weight: bold;
}

.FontSizebtn {
    background-color: white;
    border-color: white;
    font-weight: bold;
}
