.SettingButtons {
    text-align: center;
}

.ColorChangebtn {
    background-color: white;
    border-color: white;
    text-align: center;
    font-weight: bold;

}

.FontWeight {
    border-color: white;
    background-color: white;
    color: black;
    font-weight: bold;
}

.FontSizebtn {
    background-color: white;
    border-color: white;
    font-weight: bold;
}

.Input {
    background-color: white;
    border-style: solid;
    border-color: black;
}

.BorderColor {
    background-color: black;
    border-style: solid;
}

form {
    size: 100px;
    text-align: center;
}

.ButtonPadding {
    text-align: center;
}

.SettingsButtons {
    text-align: center;
}




.ButtonsFontWeight {
    border-color: white;
    color: black;
    font-weight: bold;


}

.AvatarButtons {
    padding-left: 13px;
}

.AvatarPlacement {
    padding-left: 60px;
    padding-top: 20px;
}

.deleteButton {
    border: 1px;
    border-color: black;

    
}

